name: CI

on:
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libxdo-dev
    - name: Build
      run: cargo build --verbose